* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

html,body{
    height: 100%;
}

body{
    min-width: 320px;
}

header {
    background: url("../img/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    opacity: 0.7;
}

h1 {
    font-size: 42px;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #000;

}

header h2 {
    font-size: 22px;
    letter-spacing: 0.1em;
    padding-top: 0.2em;
    text-shadow: 2px 2px 2px #000;
}

h1, h2, h3, p {
    color: #FFF;
    text-align: center;
    opacity: 1;
}

div {
    display: block;
}

img{
    width: 350px;
}

#imagen{
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

#imagen:hover{
    box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

#descripcion{
    padding-top: 0.5em;
    padding-bottom: 4em;
}

#inicio{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -282px;
    margin-top: -86px;
    z-index: -1;
}

#redes_sociales{
    padding-top: 2em;
    text-align: center;
}

#redes_sociales li{
    display: inline;
    padding-left: 1em;
}

#redes_sociales img{
    height: 64px;
    width: 64px;
    transition: all 0.4s;
}

#redes_sociales img:hover{
    transform: scale(1.2);
}

#contenedor_perfil{
    text-align: center;
}

.perfil{
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#sobremi{
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
}

#sobremi h2{
    font-family: 'Playball', cursive;
    color: #000000;
    font-size: 60px;
}

#sobremi img {
    width: 200px;
    height: 260px;
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: 1s all;
}

#sobremi img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    transform: scale(1.1);
}

#sobremi p {
    color: #000000;
    font-size: 16px;
    margin: 1.2em;
    text-align: justify;
}

#columna{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    
}

.info{
    padding-top: 20px;
    padding-bottom: 20px;
}

#columna h3{
    font-family: 'Playball', cursive;
    font-size: 38px;
    text-align: left;
    color: #000;
    padding-top: 10px;
    padding-bottom: 30px;
}

#columna ul{
    padding-bottom: 25px;
}

#columna ul, #columna h3{
    padding-left: 15px;
}

#columna ul li{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: justify;
    text-decoration: none;
    list-style: none;
}

#proyectos {
    background: rgba(0,0,0,0.8);
    padding: 0.5em;
    padding-bottom: 1em;
    padding-top: 2em;
}

#proyectos h2 {
    margin-bottom: 1em;
    font-size: 42px;
    text-transform: uppercase;
}

#proyectos article {
    margin: 0 auto;
    margin-bottom: 0.5em;
    max-width: 100%;  
    vertical-align: top;
}

#proyectos article h3{
    padding-top: 1em;
    padding-bottom: 1em;
}

footer{
    background: #FFF;
    font-size: 10pt;
    padding: 1em;
    text-align: center;
}

footer > p{
    color: #000;
}

#menu-button {
    border: 2px solid rgba(255, 255, 255, .3);
    padding: 14px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: background 750ms ease-in-out;
    user-select: none;
}

.menu-open #menu-button {
    z-index: 2;
    background: rgba(41, 37, 47, 0);
}

.hamburger {
    position: relative;
    width: 25px;
    height: 20px;
    transition: transform 750ms ease-in-out;
}

#menu-button:active .hamburger {
    transition: transform 50ms;
    transform: scale(.95);
}

.hamburger::before, .hamburger::after, .hamburger .inner {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
    transform-origin: 100% 50%;
    transition: all 750ms ease-in-out;
}
.hamburger::before {
    top: -1px;
}
.hamburger .inner {
    top: 9px;
    transform-origin: 50% 50%;
}
.hamburger::after {
    top: 19px;
}

.menu-open .hamburger {
    transform: rotateY(-180deg);
}
.menu-open #menu-button:active .hamburger {
    transform: scale(.95) rotateY(-180deg);
}

.menu-open .hamburger::before,
.menu-open .hamburger::after,
.menu-open .hamburger .inner {
    background: rgba(255, 255, 255, 1);
}

.menu-open .hamburger::before {
    transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);  
}
.menu-open .hamburger .inner {
    transform: rotateY(-90deg); 
    transition: transform 375ms, background-color 750ms ease-in-out;
}
.menu-open .hamburger::after {
    transform: translate3d(-4px, -1px, 0) rotateZ(45deg);  
}

nav {
    position: absolute;
    height: 260px;
    top: 0;
    left: 0;
    width: 160px;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.menu-open nav {
    animation-duration: 10s;
    animation-name: wind;
    animation-iteration-count: infinite;
}

nav::before {
    content: '';
    position: absolute;
    border-right: 1px solid rgba(41, 37, 47, .05);
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: 0;
    background: rgba(41,45,40,1);
    transform: rotateY(90deg);
    transition: transform 350ms;
    transform-origin: 0 0;
    transition-delay: 200ms;
}

.menu-open nav::before {
    transform: none;
    transition-delay: 0;
}

nav ul {
    position: absolute;
    top: 90px;
    left: 20px;
    pointer-events: all;
}

nav li {
    display: block;
    overflow: hidden;
    font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 26px;
    line-height: 36px;
    opacity: 0;
    padding: 6px 0;
    width: 220px;
    transform: rotateY(90deg) rotateZ(-15deg);
    transition: transform 350ms, opacity 250ms;
    transform-origin: 0 0;
}

nav li a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

nav li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 220px;
    bottom: 0;
    height: 2px;
    opacity: .5; 
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .4), rgba(255, 255, 255, .8));
    background: -o-linear-gradient(left, rgba(255, 255, 255, .4), rgba(255, 255, 255, .8));
    background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, .8));
    transform: translateX(-220px);
    transition: all 200ms 50ms;
}

nav li a:hover::after {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms 100ms;
}

.menu-open nav li {
    opacity: 1;
    transform: none;
}

nav li:nth-of-type(1) {
    transition-delay: 400ms;
}

nav li:nth-of-type(2) {
    transition-delay: 300ms;
}

nav li:nth-of-type(3) {
    transition-delay: 200ms;
}

nav li:nth-of-type(4) {
    transition-delay: 100ms;
}

nav li:nth-of-type(5) {
    transition-delay: 0;
}

.menu-open nav li:nth-of-type(1) {
    transition-delay: 0;
}

.menu-open nav li:nth-of-type(2) {
    transition-delay: 100ms;
}

.menu-open nav li:nth-of-type(4) {
    transition-delay: 300ms;
}

.menu-open nav li:nth-of-type(5) {
    transition-delay: 400ms;
}

@keyframes wind {
    0%, 100% {
        transform: none; 
    }

    20% {
        transform: rotateX(5deg) rotateY(8deg); 
    }

    40% {
        transform: rotateX(-2deg); 
    }

    60% {
        transform: rotateY(-3deg) rotateX(7deg); 
    }

    80% {
        transform: rotateY(-4deg) rotateX(2deg); 
    }
}

@media (min-width: 792px) {
    .info{
        display: inline-block;
        vertical-align: top;
        padding-top: 3.5em;
        width: 70%;
    }

    .perfil{
        display: inline-block;
    }

    #contenedor_perfil{
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media(min-width: 1148px) {
    #columna{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    
    }

    #imagen{
        width: 350px;
    }

    #proyectos{
        text-align: center;
    }

    #proyectos article{
        width: 350px;
        padding-right: 15px;
        display: inline-block;
    }

    img{
        height: 437px;
    }

    #descripcion {
        padding-top: 0.5em;
        padding-bottom: 2em;
    }

    .info{
        width: 50%;
    }
}
